[session]
==
<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link href="{{ ['assets/css/theme.css', 'assets/vendor/fa/css/all.css']|theme }}" rel="stylesheet">
        <link href="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.min.css" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.4/Chart.bundle.min.js" defer></script>

        <title>{{ this.page.title }} - {{ this.theme.name }}</title>

        {% styles %}

        <style>
            {{ this.theme.custom_css|raw }}
        </style>
    </head>

    <body>
        {% partial 'site/navigation' %}

        {% page %}

        {% partial 'site/footer' %}

        {% framework %}
        {% scripts %}
    </body>
</html>
