[staticMenu]
==
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="https://rsms.me/inter/inter.css">
        <link href="{{ ['assets/css/theme.css', 'assets/vendor/fa/css/all.css']|theme }}" rel="stylesheet">

        <script src="https://cdn.jsdelivr.net/gh/alpinejs/alpine@v2.7.3/dist/alpine.min.js" defer></script>
    </head>

    <body class="bg-white">
        {% partial 'header' %}

        {% page %}

        {% partial 'footer' %}
    </body>
</html>
