title = "Course"
url = "/course/:courseSlug/:pageSlug?"
layout = "default"
is_hidden = 0

[staticMenu]

[h5p]

[lmsCourse]
slug = "{{ :courseSlug }}"

[lmsPage]
slug = "{{ :pageSlug }}"
==
<div class="bg-gray-100">
    <main class="py-10">
        <!-- Page header -->
        <div class="max-w-3xl mx-auto px-4 sm:px-6 md:flex md:items-center md:justify-between md:space-x-5 lg:max-w-7xl lg:px-8">
            <div class="flex items-center space-x-5">
                <div>
                    <h1 class="text-2xl font-bold text-gray-900">{{ lmsCourse.name }} / {{ lmsPage.name }}</h1>
                    {#<p class="text-sm font-medium text-gray-500">Applied for <a href="#" class="text-gray-900">Front End Developer</a> on <time datetime="2020-08-25">August 25, 2020</time></p>#}
                </div>
            </div>
            {#<div class="mt-6 flex flex-col-reverse justify-stretch space-y-4 space-y-reverse sm:flex-row-reverse sm:justify-end sm:space-x-reverse sm:space-y-0 sm:space-x-3 md:mt-0 md:flex-row md:space-x-3">
                <button type="button" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-green-600 hover:bg-green-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-offset-gray-100 focus:ring-blue-500">
                    Cursus afronden
                </button>
            </div>#}
        </div>

        <div class="mt-8 max-w-3xl mx-auto grid grid-cols-1 gap-6 sm:px-6 lg:max-w-7xl lg:grid-flow-col-dense {{ this.theme.course_sidebar and lmsCourse.properties.display_sidebar ? 'lg:grid-cols-3' : 'lg:grid-cols-2' }}">
            <form class="space-y-6 lg:col-start-1 lg:col-span-2">
                <section>
                    <div class="bg-white shadow sm:rounded-lg">
                        <div class="px-4 py-5 sm:px-6 flex-row space-y-6">
                            <div>
                                {{ lmsPage.description|raw }}
                            </div>

                            {% for contentBlock in lmsPage.content_blocks %}
                                <div class="content-block w-full">
                                    {% if contentBlock.content_block_type == 'learnkit.lms::h5p' %}
                                        {{ h5p.forContentId(contentBlock.content_id)|raw }}
                                    {% else %}
                                        {{ lmsPage.renderContentBlock(contentBlock)|raw }}
                                    {% endif %}

                                    {% if contentBlock.custom_js %}
                                        <script>
                                            {{ contentBlock.custom_js|raw }}
                                        </script>
                                    {% endif %}
                                </div>
                            {% endfor %}

                            <div id="error-message"></div>
                        </div>
                    </div>
                </section>

                <section>
                    {% if previousPage %}
                    <a
                        class="float-left whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"
                        href="javascript:;"
                        data-request="lmsPage::onRedirect"
                        data-request-data="redirect: '/course/{{ this.param.courseSlug }}/{{ previousPage.slug }}'">
                        <svg class="mr-2 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M7 16l-4-4m0 0l4-4m-4 4h18"></path></svg>

                        {% if lmsPage.properties.override_previous_page_text %}
                            {{ lmsPage.properties.override_previous_page_text }}
                        {% else %}
                            Vorige
                        {% endif %}

                    </a>
                    {% endif %}

                    {% if nextPage %}
                    <a
                        class="float-right whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-indigo-600 hover:bg-indigo-700"
                        href="javascript:;"
                        data-request="lmsPage::onMarkDone"
                        data-request-data="redirect: '/course/{{ this.param.courseSlug }}/{{ nextPage.slug }}'">

                        {% if lmsPage.properties.override_next_page_text %}
                            {{ lmsPage.properties.override_next_page_text }}
                        {% else %}
                            Opslaan en doorgaan
                        {% endif %}

                        <svg class="ml-2 w-5 h-5" fill="none" stroke="currentColor" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg"><path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M17 8l4 4m0 0l-4 4m4-4H3"></path></svg>
                    </a>
                    {% else %}
                    <a
                        class="float-right whitespace-nowrap inline-flex items-center justify-center px-4 py-2 border border-transparent rounded-md shadow-sm text-base font-medium text-white bg-green-600 hover:bg-green-700"
                        href="javascript:;"
                        data-request="lmsPage::onMarkDone"
                        data-request-data="redirect: '{{ lmsCourse.properties.redirect_after_completion ?: '' }}'">

                        {% if lmsPage.properties.override_finish_page_text %}
                            {{ lmsPage.properties.override_finish_page_text }}
                        {% else %}
                            {{ lmsCourse.properties.completion_button_text ?: 'Afronden' }}
                        {% endif %}
                    </a>
                    {% endif %}
                </section>
            </form>

            {% if this.theme.course_sidebar and lmsCourse.properties.display_sidebar %}
            <section aria-labelledby="timeline-title" class="lg:col-start-3 lg:col-span-1">
                <div class="bg-white px-4 py-5 shadow sm:rounded-lg sm:px-6">
                    <h2 id="timeline-title" class="text-lg font-medium text-gray-900">Overzicht</h2>

                    <!-- Activity Feed -->
                    <div class="mt-6 flow-root">
                        <ul class="-mb-8">
                            {% for page in lmsCourse.pages  %}
                            <li>
                                <a href="{{ 'course'|page({courseSlug: lmsCourse.slug, pageSlug: page.slug}) }}">
                                    <div class="relative pb-8">
                                        {% if loop.index < lmsCourse.pages|length %}
                                            <span class="absolute top-4 left-4 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
                                        {% endif %}
                                        <div class="relative flex space-x-3">
                                            <div>
                                              <span class="h-8 w-8 rounded-full {{ page.is_completed ? 'bg-green-600' : '' }} {{ page.slug == this.param.pageSlug ? 'bg-indigo-600' : 'bg-gray-400' }} flex items-center justify-center ring-8 ring-white">
                                                  {% if page.is_completed %}
                                                    <svg class="h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M16.707 5.293a1 1 0 010 1.414l-8 8a1 1 0 01-1.414 0l-4-4a1 1 0 011.414-1.414L8 12.586l7.293-7.293a1 1 0 011.414 0z" clip-rule="evenodd"></path></svg>
                                                  {% else %}
                                                    <svg class="h-5 w-5 text-white" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd"></path></svg>
                                                  {% endif %}
                                              </span>
                                            </div>
                                            <div class="min-w-0 flex-1 pt-1.5 flex justify-between space-x-4">
                                                <div>
                                                    <p class="text-sm text-gray-500">{{ page.name }}</p>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </a>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    <!--<div class="mt-6 flex flex-col justify-stretch">
                        <button type="button" class="inline-flex items-center justify-center px-4 py-2 border border-transparent text-sm font-medium rounded-md shadow-sm text-white bg-blue-600 hover:bg-blue-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-blue-500">
                            Advance to offer
                        </button>
                    </div>-->
                </div>
            </section>
            {% endif %}
        </div>
    </main>
</div>
