title = "Manage course"
layout = "default"
url = "/manage/:teamCode/course/:courseSlug"
==
<?php
function onStart()
{
    $team = auth()->user()->teams()
        ->where('code', $this->param('teamCode'))
        ->first();

    $this['team'] = $team;

    $this['course'] = \LearnKit\LMS\Models\Course::where('team_id', $team->id)->where('slug', $this->param('courseSlug'))->first();
}
?>
==
<div class="bg-gray-100">
    <main class="py-10">
        <div class="lg:max-w-7xl mx-auto">
            <div class="flex-row items-center">
                <div class="px-5">
                    <div class="flex flex-col">
                        <span class="text-2xl font-medium">Cursus {{ course.name }}</span>
                        <span>Aantal gebruikers: {{ course.team.users|length }}</span>
                    </div>

                    <div class="pt-5">
                        <span class="text-lg font-medium mb-2">Cursussen</span>

                        <div class="flex flex-col">
                          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">
                                  <thead class="bg-gray-50">
                                    <tr>
                                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                          Vraag
                                      </th>
                                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                          % goed
                                      </th>
                                        <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">

                                        </th>
                                    </tr>
                                  </thead>
                                  <tbody x-data="{ rowOpen: {} }">
                                    
                                    {% for page in course.pages %}
                                        <tr>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                                {{ page.name }}
                                            </th>
                                            <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                            </th>
                                        </tr>
                                        {% for block in page.content_blocks %}
                                            {% if block.content_block_type == 'learnkit.lms::h5p' %}
                                                {% set h5pContent = getH5pContent(block.content_id) %}
                                                <tr class="bg-white">
                                                  <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                                    {{ h5pContent.title }}
                                                  </td>
                                                  <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                    {{ percentageById(block.content_id) }}%
                                                  </td>
                                                    <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                                        <span class="underline text-blue-400 cursor-pointer" x-on:click="rowOpen[{{ h5pContent.id }}] = !rowOpen[{{ h5pContent.id }}]">Resultaat per gebruiker</span>
                                                    </td>
                                                </tr>

                                                <tr x-show="rowOpen[{{h5pContent.id}}]" style="display: none;">
                                                    <td colspan="3" class="px-6 py-4">
                                                        <table>
                                                            <thead>
                                                                <tr>
                                                                    <th scope="col" class="py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Naam</th>
                                                                    <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">Goed / fout</th>
                                                                </tr>
                                                            </thead>

                                                            <tbody>
                                                                {% for user in course.team.users %}
                                                                <tr>
                                                                    <td class="px-0 py-2 font-medium">
                                                                        {{ user.name }} {{ user.surname }}
                                                                    </td>
                                                                    <td class="px-6 py-2">
                                                                        {% set score = resultForBlock(page.id, block.hash, user) %}
                                                                        {% if score.max == 1 %}
                                                                            {% if score.total == 1 %}
                                                                                Goed
                                                                            {% else %}
                                                                                {% if score.status %}
                                                                                    Fout
                                                                                {% endif %}
                                                                            {% endif %}
                                                                        {% else %}
                                                                            {{ score.total }} / {{ score.max }}
                                                                        {% endif %}
                                                                    </td>
                                                                </tr>
                                                                {% endfor %}
                                                            </tbody>
                                                        </table>
                                                    </td>
                                                </tr>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                    
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>