title = "Manage"
layout = "default"
url = "/manage/:teamCode?"
==
<?php
function onStart()
{
    if (!$this->param('teamCode')) {
        return redirect('/manage/' . auth()->user()->teams()->first()->code);
    }

    $team = auth()->user()->teams()
        ->where('code', $this->param('teamCode'))
        ->first();

    $this['team'] = $team;

    $this['courses'] = $team->team_courses;
}

function onChangeTeam()
{
    return redirect('/manage/' . input('team'));
}
?>
==
<div class="bg-gray-100">
    <main class="py-10">
        <div class="lg:max-w-7xl mx-auto">
            <div class="flex-row items-center">
                <div class="px-5">
                    <div class="flex flex-row">
                        <div class="flex flex-col flex-1">
                            <span class="text-2xl font-medium">Team {{ team.name }}</span>
                            <span>Aantal gebruikers: {{ team.users|length }}</span>
                        </div>

                        <div class="float-right">
                            <div>
                                <label for="location" class="block text-sm font-medium text-gray-700">Wissel team</label>
                                <select name="team" data-request="onChangeTeam" data-track-input id="location" name="location" class="mt-1 block w-full pl-3 pr-10 py-2 text-base border-gray-300 focus:outline-none focus:ring-indigo-500 focus:border-indigo-500 sm:text-sm rounded-md">
                                    <option>...</option>
                                    {% for teamOption in teams() %}
                                        <option value="{{ teamOption.code }}">{{ teamOption.name }}</option>
                                    {% endfor %}
                                </select>
                            </div>
                        </div>
                    </div>

                    <div class="pt-2 flex flex-row space-x-2">
                        <a href="{{ 'manage-users'|page({ teamCode: team.code }) }}" class="flex justify-center py-2 px-4 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Overzicht per gebruiker</a>
                    </div>

                    <div class="pt-5">
                        <span class="text-lg font-medium mb-2">Cursussen</span>

                        <div class="flex flex-col">
                          <div class="-my-2 overflow-x-auto sm:-mx-6 lg:-mx-8">
                            <div class="py-2 align-middle inline-block min-w-full sm:px-6 lg:px-8">
                              <div class="shadow overflow-hidden border-b border-gray-200 sm:rounded-lg">
                                <table class="min-w-full divide-y divide-gray-200">
                                  <thead class="bg-gray-50">
                                    <tr>
                                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Titel
                                      </th>
                                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Gebruikers
                                      </th>
                                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Gemiddelde voortgang
                                      </th>
                                      <th scope="col" class="px-6 py-3 text-left text-xs font-medium text-gray-500 uppercase tracking-wider">
                                        Gemiddelde score
                                      </th>
                                        <th></th>
                                    </tr>
                                  </thead>
                                  <tbody>
                                    
                                    {% for course in courses %}
                                    <tr class="bg-white">
                                      <td class="px-6 py-4 whitespace-nowrap text-sm font-medium text-gray-900">
                                        {{ course.name }}
                                      </td>
                                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ team.users|length }}
                                      </td>
                                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ course.avgScore(team.id).percentageDone }}%
                                      </td>
                                      <td class="px-6 py-4 whitespace-nowrap text-sm text-gray-500">
                                        {{ course.avgScore(team.id).score }} / {{ course.avgScore(team.id).max }}
                                      </td>
                                        <td class="px-6 py-4">
                                            <a href="{{ 'manage-course'|page({teamSlug: this.param('teamSlug'), courseSlug: course.slug}) }}" class="flex justify-center py-2 px-1 border border-transparent rounded-md shadow-sm text-sm font-medium text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500">Overzicht per vraag</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                    
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </main>
</div>