[lmsCourse]
==
<div class="py-5">
    <h2 class="font-bold text-xl">Alle cursussen</h2>
</div>

<div class="grid grid-cols-1 gap-4 sm:grid-cols-2">
    {% for course in lmsCourse.all() %}
    {% if course.is_visible %}
    <div class="relative rounded-lg border border-gray-300 bg-white px-6 py-5 shadow-sm flex items-center space-x-3 hover:border-gray-400 focus-within:ring-2 focus-within:ring-offset-2 focus-within:ring-indigo-500">
        <div class="flex-1 min-w-0">
            <a href="{{ 'course'|page({ courseSlug: course.slug, pageSlug: course.firstPageSlug }) }}" class="focus:outline-none">
                <span class="absolute inset-0" aria-hidden="true"></span>

                {% if (course.daysOld < this.theme.new_course_day_count) and this.theme.show_new_course_badge %}
                    <span class="inline-flex items-center px-3 py-0.5 rounded-full text-sm font-medium bg-indigo-700 text-white float-right">Nieuw!</span>
                {% endif %}

                <h3 class="text-xl font-medium text-gray-900">
                    {{ course.name }}
                </h3>
                <p class="text-sm text-gray-500 truncate pt-3">
                    Laatste update: {{ course.updatet_at|date('d-m-Y') }}
                </p>
            </a>
        </div>
    </div>
    {% endif %}
    {% endfor %}
</div>
